<div class="bg-[#ff5200] text-white">
    <header class="bg-[#ff5200] text-white mx-10 flex flex-col md:flex-row justify-between items-center p-7">
      <div class="flex items-center space-x-2">
        <a href="/home">
          <img alt="Swiggy logo" height="48px" width="160px" loading="lazy" src="https://res.cloudinary.com/dutdah0l9/image/upload/v1720058694/Swiggy_logo_bml6he.png" />
        </a>
      </div>
      <nav class="flex flex-col md:flex-row space-y-2 md:space-y-0 md:space-x-4 md:ml-4">
        <a class="text-white font-bold px-3 py-2" href="https://www.swiggy.com/corporate/">Swiggy Corporate</a>
        <a class="text-white font-bold px-3 py-2" href="https://partner.swiggy.com/login#/swiggy">Partner with us</a>
        <a class="text-white font-bold border border-white rounded-md px-6 py-2" href="#">Get the App</a>
        <a routerLink="/login" routerLinkActive  class="bg-black text-white font-bold rounded-md px-6 py-2" >Sign up</a>
      </nav>
    </header>
  
    </div>
  